<div class="vote-board">
  VOTE HERE

<div class="button">
  <button id="yes-button" type="submit" value="YES">YES!</button>
</div>

<div class="button">
  <button id="no-button" type="submit" value="NO">NO!</button>
</div>

</div>
