<!doctype html>
<html>
<head >
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Untitled</title>
</head>
<body ng-app="syndicate">
    <h1>Angular</h1>
  {{name}}

    <div class="view-container">
      <div ng-view class="view-frame animate-view"></div>
    </div>

</body>
</html>