<a href="#/issues/new" class="btn btn-primary btn-large right">New Issue</a>
<h2>Recent Issues</h2>
<p>View recent issues and cast your vote</p>


<div class="issues">
    <div ng-repeat="issue in issues" class="issue">
        <div>
            {{issue.id}}
            {{issue.title}}
            <a href="#/issues/{{issue.id}}">{{issue.title}}</a>
            {{issue.description}}
            {{issue.start_date}}
            {{issue.finish_date}}
            {{issue.image}}
            {{issue.participant_count}}
            {{issue.yes_votes}}
            {{issue.no_votes}}
            {{issue.vote_count}}
            {{issue.abstain_count}}
            {{issue.yes_percentage}}
            {{issue.no_percentage}}
            {{issue.status}}
            {{issue.time_remaining}}
        </div>
    </div>
</div>