.participants {
	.grid-container();
}
.participant {
  .grid(1);
  margin-bottom: 20px;
  text-align: center;
  min-height: 180px;
}

.participant-image {
  border-radius: 100%;
  background: #DDD;
}

.participant-username {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  em {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
  }
}
.participant-vote-count {
  font-size: 18px;
  font-weight: 700;
}
