<div class="session-dropdown">
  <form action="/login" method="post" >
  <select name="user_id" onchange="this.form.submit()">>
    <option value="1">User 1</option>
    <option value="2">User 2</option>
    <option value="3">User 3</option>
    <option value="4">User 4</option>
    <option value="5">User 5</option>
    <option value="6">User 6</option>
    <option value="7">User 7</option>
    <option value="8">User 8</option>
    <option value="9">User 9</option>
    <option value="10">User 10</option>
  </select>
</form>
</div>
