<div class="session-dropdown">
  <form action="/login" method="post" >
  <select name="user_id" onchange="this.form.submit()">>
    <option value="" selected>Select User </option>
    <option value="1">User 1</option>
    <option value="2">User 2</option>
    <option value="3">User 3</option>
    <option value="4">User 4</option>
    <option value="5">User 5</option>
    <option value="6">User 6</option>
    <option value="7">User 7</option>
    <option value="8">User 8</option>
    <option value="9">User 9</option>
    <option value="10">User 10</option>
    <option value="11">User 11</option>
    <option value="12">User 12</option>
    <option value="13">User 13</option>
    <option value="14">User 14</option>
    <option value="15">User 15</option>
    <option value="16">User 16</option>
    <option value="17">User 17</option>
    <option value="18">User 18</option>
    <option value="19">User 19</option>
    <option value="20">User 20</option>
    <option value="21">User 21</option>
    <option value="22">User 22</option>
    <option value="23">User 23</option>
    <option value="24">User 24</option>
    <option value="25">User 25</option>
    <option value="26">User 26</option>
    <option value="27">User 27</option>
    <option value="28">User 28</option>
    <option value="29">User 29</option>
    <option value="30">User 30</option>
  </select>
</form>
</div>
