<% if session[:username] %>
  <div class="user-profile">
    Hello <span class="user-profile-username">"<%= current_user.username %>"</span> |
    <a href="/users/<%= current_user.id %>">My Profile</a> |

    <%= form_for(:session, url: logout_path, method: "delete" ) do |f| %>
      <%= f.submit "Logout", class: "form-logout" %>
    <% end %>

  </div>
<% end %>

<% if session[:username] == nil %>

<div class="user-profile">
  <a href="/signup">Create Account</a> |
  <a href="/login">Login</a>
</div>

<% end %>
