.top {
  height: 8px;
  background: @primarycolor;
}

.header {

  border-bottom: 1px solid #EAEAEA;
  margin-top: 1em;
  padding-bottom: 1em;

  @media @mobile {
    padding-bottom: 3em;
  }
}

.header-logo {
  width: 120px;
  margin-right: 50px;
  display: block;
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  font-family: @customfont;
  color: #333;
  font-weight: 600;
}

.header-menu {
  display: inline-block;
  text-transform: uppercase;
  font: bold 1.1em @basefont;
  height: 30px;
  margin: 0px;
  line-height: 2.2em;

  @media @mobile {
    float: right;
  }
}

// Session Dropdown
.session-dropdown {
  float: right;
  height: 30px;
  margin-right: 20px;
  padding: 0px;
  @media @mobile {
    float: none;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;

  }
}

// User Profile
.user-profile {
  float: right;
  height:30px;
  line-height: 2.1em;
  font-size: 15px;
  form {
    display: block;
    float: right;
  }

  .user-profile-username {
    font-weight: 700;
  }


}

.profile-clear {
  background: none;
  border: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  height: auto;
  text-indent: 0;
  font-size: 15px;
  color: @primarycolor;
  vertical-align: baseline;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
