.hero{
  margin-bottom: 15em;
  @media @mobile {
    // top: -80px;
    margin-bottom: 2em;
    overflow: hidden;
    height: 21.3em;
  }
}
.banner{
  background-size: cover;
  vertical-align: middle;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 40em;
  @media @mobile {
    background-size: initial;
    background-position: center;
  }
}

.shadow-box {
  height: 40em;
  background-size: cover;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  left: -100px;
  width: 150%;

  @media @mobile {
    height: 21.3em;
  }
}

#hero-text{
  font-family: @customfont;
  padding-top: 4.5em;
  color: white;
  text-align: center;
  font-size: 3em;
  z-index: 100;
  @media @mobile{
    padding-top: 50px;
  }
}

.header-search {
  float: right;
  margin: 0;
  height: 30px;
  width: 320px;
  // display: inline-block;
  display: none;

  @media @mobile {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-wrapper {
  /*float: right;*/
  width: 320px;
  margin-right: 20px;
  padding-top: 2px;
  display: none;

  @media @mobile {
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
  }
}

/* Form text input */

.form-wrapper input {
  width: 240px;
  height: 26px;
  float: left;
  font: 1.1em @basefont;
  border: 0;
  background: #eee;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}

.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
}

.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
}

/* Form submit button */

.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 26px;
  width: 80px;
  font: 1em @basefont;
  color: #fff;
  text-transform: uppercase;
  background: @primarycolor;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  @media @mobile {

  }
}

.form-wrapper button:hover{
  background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
  background: #c42f2f;
  outline: 0;
}

.form-wrapper button:before { /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent @primarycolor transparent;
  top: 5px;
  left: -6px;
}

.form-wrapper button:hover:before{
  border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
  border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}


#title-thinger {
  margin-top: 8em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 2em;
  @media @mobile {
    margin-top: 0em;
  }
}

.issue-box {
  height: 20em;
  margin-bottom: 14px;
}

.debug {
  outline: 2px solid green;
}
.hidden{
  visibility: hidden;
}

.hero-button {
}

.hero-button button {
  overflow: visible;
  height: 40px;
  width: 160px;
  display: block;
  margin-top: 4em;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  padding: 0;
  cursor: pointer;
  font: 1.3em @basefont;
  color: #fff;
  text-transform: uppercase;
  background: @primarycolor;   /*#d83c3c*/
  /*border-radius: 0 0px 3px 0;*/
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  position: relative;
  z-index: 1000;
}

.hero-button button:hover{
  background: #e54040;
}

.hero-button button:active,
.hero-button button:focus{
  background: #c42f2f;
  outline: 0;
}

.hot-issue {
  .clearfix();
  color: @primarycolor;
  margin-left: 0px;
  margin-bottom: 14px;

  .grid(4);
  .issue-body {
    float: left;
    width: 100%;
    .issue-image{
      height: 200px;
      overflow: hidden;
    }
  }

  &.view-mode-teaser {

  }
  &.view-mode-full {
    border-bottom: none;
  }
}


