.issues {
  .grid-container();
}
.issue {
  .clearfix();
  border-bottom: 1px solid #CCC;
  padding-bottom: 14px;
  padding-top: 14px;
  .grid(4);
  .issue-body {
   float: left;
   width: 90%;

  }

  &.view-mode-teaser {

  }
  &.view-mode-full {
    border-bottom: none;
  }
}
