<div class="region header">
  <div class="region-inner">

    <a href="/" class="header-logo"><%= image_tag("syndicate-logo.png") %></a>
    <div class="header-menu">
      <a href="/issues">Issues</a>
      <a href="/groups">Groups</a>
    </div>

    <%= render '/layouts/debug' %>

	</div>
</div>
