<div class="region header">
  <div class="region-inner">

  	<div class="grid-container">
	   <a href="/" class="logo">Syndicate</a>
	   <ul class="menu">
		  <li><a href="/issues">Issues</a></li>
	   </ul>
      <%= render "/layouts/debug" %>
      <%= render "/layouts/user_profile" %>
  	</div>
  </div>
</div>
